<div class="container">
<h1>New Game</h1>

<ul>
  <% @rand_characters.each do |character| %>
  <li><%= character %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word">
  <input  type="hidden" name="list" value="<%=@rand_characters%>">
  <input type="submit" name="submit">
</form>

</div>
